@import '../../styles.scss';

.footer {
  background-color: #f5f5f5;
  padding: 32px 16px;
  font-family: $font-family-primary;

  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    cursor: default;

    justify-content: center;

    .footer-column {
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: center;

      &.logo-column {
        align-items: center;
        .footer-logo {
          width: 120px;
          height: auto;
        }

        .contact-info,
        p {
          font-size: 12px;
          color: $color-text-medium;
          text-align: center;
        }

        .cellphone-data {
          color: $color-brand-primary;
          font-weight: $font-weight-bold;
        }
      }

      &.links-column {
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: 4px;
          align-items: center;

          li a {
            text-decoration: underline;
            color: $color-text-medium;
            font-size: 12px;
            text-align: center;
          }
        }
      }

      &.social-column {
        .social-icons {
          display: flex;
          justify-content: center;
          gap: 16px;

          img {
            width: 24px;
            height: 24px;
            cursor: pointer;
          }
        }
      }
    }

    @media (min-width: $bp-mobile) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;

      .footer-column {
        align-items: flex-start;

        &.logo-column {
          width: 100%;
          order: -1;
          align-items: flex-start;
          .contact-info,
          p {
            text-align: left;
          }
        }

        &.links-column {
          ul {
            align-items: flex-start;
          }
        }
      }
    }

    @media (min-width: $bp-tablet) {
      flex-wrap: nowrap;
      justify-content: space-between;
      gap: 0;

      .footer-column {
        &.logo-column {
          width: auto;
          order: 0;
        }

        flex-basis: 200px;
      }
    }

    @media (min-width: $bp-desktop) {
      justify-content: space-around;
    }
  }
}
