@import '../styles.scss';

:host {
  display: block;
}

app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 1100;
}

app-sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  height: calc(100vh - 60px);
  max-width: 220px;
  z-index: 2000;
  transition: transform 0.3s ease-in-out;

  &.open {
    transform: translateX(0);
  }

  @media (max-width: $bp-tablet) {
    transform: translateX(-100%);
    &.open {
      transform: translateX(0);
    }
  }
}

.main-content {
  margin-left: 60px;
  margin-top: 80px;
  min-height: calc(100vh - 60px);
  padding-top: 0px;
  padding-left: 0px;
  overflow-y: auto;
  transition: margin-left 0.3s ease;

  background: url('../../public/assets/iStock-480003814.png') no-repeat center top;
  background-size: cover;
  background-attachment: fixed;

  @media (max-width: $bp-tablet) {
    margin-left: 0;
  }
}
