<div class="slider-container">
  <img
    src="assets/Group 9764-1.png"
    alt="prev"
    class="icon-prev"
    (click)="scrollLeft()"
    [class.disabled]="!canScrollPrev()"
  />

  <div class="cards-wrapper" #cardsWrapper>
    @for (card of cards(); track card.title) {
    <app-card
      [title]="card.title"
      [hashtag]="card.hashtag"
      [subtitle]="card.subtitle"
      [text]="card.text"
      [miniCardText]="card.miniCardText"
      [miniCardIcon]="card.miniCardIcon"
      [borderColor]="card.borderColor"
    ></app-card>
    }

    <div class="special-card-wrapper">
      <button class="button-special-card" (click)="!showSpecialContent()">Explora ahora</button>

      <div class="card-footer" [style.background]="borderColorSpecialCard"></div>
    </div>
  </div>

  <img
    src="assets/Group 9764-1.png"
    alt="next"
    class="icon-next"
    (click)="scrollRight()"
    [class.disabled]="!canScrollNext()"
  />
</div>

<button class="button-slider">ASOCIAR A OBJETIVO</button>

@if (showSpecialContent()){
<div class="special-content">
  <p>Contenido renderizado al presionar la card especial</p>
</div>
}
