@import '../../styles.scss';

.slider-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;

  .cards-wrapper {
    display: flex;
    gap: 16px;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    overflow-x: auto;
    scroll-behavior: smooth;
    flex-wrap: nowrap;

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .icon-prev,
  .icon-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1010;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.disabled {
      opacity: 0.3;
      pointer-events: none;
      cursor: default;
    }
  }

  .icon-prev {
    left: 16px;
    img {
      transform: rotate(180deg);
    }
  }

  .icon-next {
    right: 160px;
  }
}

.special-card-wrapper {
  position: relative;
  flex-shrink: 0;
  width: 250px;
  height: 299px;
  border-radius: 4px;
  background: url('../../../public/assets/Group 12973.png') no-repeat center center;
  background-size: cover;
  box-shadow: 0 2px 5px rgba($color-shadow-opacity, 0.1);
}

.button-special-card {
  position: absolute;
  top: 104px;
  left: 10px;
  padding: 8px 12px;
  background-color: $color-brand-primary;
  color: $color-white;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  pointer-events: none;
  text-decoration: none;

  &.active {
    pointer-events: auto;
    cursor: pointer;
    text-decoration: underline;
  }
}

.card-footer {
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.button-slider {
  display: block;
  margin: 32px auto;
  padding: 16px;
  background: $color-background-lighter;
  border: none;
  border-radius: 25px;
  text-align: center;
  font-family: $font-family-secondary;
  font-weight: $font-weight-bold;
  font-size: 16px;
  color: $color-text-medium;
}

.special-content {
  .special-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    background: url('../../../public/assets/Group 12973@2x.png') no-repeat;

    background-position: center center;
    background-size: cover;
    padding: 24px;
    padding-right: 12rem;
  }

  .special-card {
    position: relative;
    width: 250px;
    background: $color-white;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    cursor: default;
    flex-direction: column;

    .card-image {
      position: relative;
      height: 120px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .elements-top {
        position: absolute;
        top: 8px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
        align-items: center;

        span {
          margin: 0;
          padding-inline: 8px;
          border-radius: 4px;
          font-size: 12px;
          font-weight: 500;
          color: $color-text-medium;
          background: #c0f3ff;
        }

        .nav-icon {
          font-size: 16px;
          color: $color-brand-primary;
        }
      }
    }

    .card-text {
      padding: 8px 24px;
      display: flex;
      flex-direction: column;
      gap: 4px;

      .line1 {
        font-size: 14px;
        font-family: $font-family-secondary;
      }

      .link-green {
        color: $color-brand-primary;
        text-decoration: underline;
        cursor: default;
      }

      .icons-row {
        display: flex;
        flex-direction: column;
        font-family: $font-family-primary;
        gap: 8px;
        margin-top: 8px;

        .icon-item {
          display: flex;
          align-items: center;
          gap: 4px;

          img {
            width: 12px;
            height: 12px;
          }

          .icon-text-small {
            font-size: 8px;
          }
        }
      }
    }
    .card-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px; 
      background: #8aa2c1;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  .indicators {
    display: flex;
    gap: 4px;
    position: absolute;
    bottom: 8px;
    right: 19rem;

    .dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $color-white;

      &.active {
        background: $color-brand-primary;
      }
    }
  }

  .arrow-right {
    position: absolute;
    right: 10rem;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
  }
}
